<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Blocitoff</h3>
            <nav>
              <ul class="nav masthead-nav">
                <% if current_user %>
                  <li> <%= link_to "Home", list_path %> </li>
                <% else %>
                  <li> <%= link_to "Home", root_path %></li>        
                <% end %>
                <% if current_user %>
                  <li> <%= link_to current_user.email, edit_user_registration_path(current_user) %> </li>
                  <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
                <% else %>
                  <li> <%= link_to "Sign In", new_user_session_path %></li>
                  <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
                 <% end %>
              </ul>
            </nav>
          </div>
        </div>



           <%= yield %> 
          
          


        <div class="mastfoot">
          <%= debug(params) if Rails.env.development? %>
        </div>

      </div>

    </div>

  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  </body>
</html>

